@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  padding: 10px 20px;
  margin-top: -40px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%; 
  max-height: 150px; 
  margin-right: 10px; 
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 15px; 
  margin-right: 45px; 
  text-decoration: none;
  color: black; 
}


.navbar-right .nav-link {
  margin-left: 0; 
  
}

#slider {
  display: flex;
  align-items: center;
  background-color: #252525; 
  height: 350px; 
  margin-top: -2rem; 
}

#slider img {
  max-width: 50%;
  margin-left: 10rem; 
  margin-top: 40px;
}

#slider > div {
  flex: 1;
}

#slider > div:first-child {
  margin-right: 1rem;
}

.slider-promotion{
  color: white;
  margin-left: -10rem;
  
}

.slider-promotion h3{
  color: yellow;
  font-size: 22px;
  
}

.slider-promotion p{
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
}

.slider-promotion h2{
  font-family: 'Righteous', cursive;
  
}

#boxes {
  display: flex;
  justify-content: space-around; 
  margin-top: 2rem; 
}

#boxes img{
  height: 50px;
}

.box {
  flex-basis: 30%; 
  text-align: center;
  padding: 1rem;
  background-color: #252525; 
}

.box i {
  font-size: 2rem;
  margin-bottom: 0.5rem; 
}

.box h3 {
  text-align: center;
  color: white;
  
}

#additional-boxes{
  display: flex;
  justify-content: space-around; 
  margin-top: 2rem;
  height: 350px;
  padding-bottom: 20px;
}

#additional-boxes img{
  height: 200px;
}

#additional-boxes h2{
  color: yellow;
  font-size: 20px;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.product-card img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.product-card h3, .product-card p {
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}







