.login-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form{
    border: 1px solid lightgray;
    padding: 1rem;
    width: 25vw;
}
.emailplace{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.emailplace input{
    width: 100%;
    height: 2rem;
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: lightgray;
    border-radius: .2rem;
}
.passplace{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.passplace input{
    width: 100%;
    height: 2rem;
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: lightgray;
    border-radius: .2rem;
}
.forgot p{
    cursor: pointer;

}
.loginBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.loginBtn input{
    padding: 0.5rem;
    width: 6rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: .2rem;
   
}
.notregisterd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.notregisterd a{
    color: rgb(20, 31, 234);
}

.img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.image{
    
    background-color: red;
}