.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.sign-form{
    background-color: #7f959c;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 320px;
    padding: 75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-size: large;
   
   
    
  }
  .sign-btn{
    border-radius: 4px;
    padding: 10px;
    background-color: #74a4d1;
  
  }
  
.sign-form > label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
.sign-form input[type="text"],
.sign-form input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
.sign-form  input[type="submit"] {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
  }