.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.containerone{
  border-radius: 4px;
  margin-left: 50px;
  max-width: 640px;
  padding: 75px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
  font-size: large;
  height: 100%;
  width: 40%;
  padding: 1.5rem 1rem;
}

.form{
  background-color: transparent;
  width: 50%;
  padding: .5rem;
  border-radius: .3rem;
}

.signupPage{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;   
}

.sign-btn{
  border-radius: .2rem;
  font-size: 1.3rem;
  border-radius: .2rem;
  width: 10rem;
  margin-bottom: 1rem;
  padding: .5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  margin-top: 1rem;
  font-size: large;
  background-color: rgb(190, 187, 187);

}

.sign-form > label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.sign-form input[type="text"],
.sign-form input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(190, 187, 187);
  font-size: 16px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.sign-form  input[type="submit"] {
  /* background-color: black; */
  /* background-color: rgb(190, 187, 187); */
  border: none;
  border-radius: 4px;
  /* color: #333; */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  outline: none;
}
