.signupPage {
  height: 100vh;
}

.containerone {
  width: 400px;
}

.form {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.form label {
  display: block;
  margin-bottom: 10px;
}
.form input[type="text"],
.form input[type="password"],
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  outline: none;
}
.form select {
  margin-bottom: 30px;
}
.sign-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}