form{
  background-color: #7f959c;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 320px;
  padding: 75px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
  font-size: large;
  margin-right: 100px;
  margin-top: 50px;
  
}
form button{
  border-radius: 4px;
  padding: 10px;
  background-color: #74a4d1;

}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}