.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  padding: 10px 20px;
  margin-top: -40px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%; 
  max-height: 150px; 
  margin-right: 10px; 
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 15px; 
  margin-right: 45px; 
  text-decoration: none;
  color: black; 
}


.navbar-right .nav-link {
  margin-left: 0; 
  
}

#slider {
  display: flex;
  align-items: center;
  background-color: #252525; 
  height: 350px; 
  margin-top: -2rem; 
}

#slider img {
  max-width: 50%;
  margin-left: 10rem; 
  margin-top: 40px;
}

#slider > div {
  flex: 1;
}

#slider > div:first-child {
  margin-right: 1rem;
}

.slider-promotion{
  color: white;
  margin-left: -10rem;
}


#boxes {
  display: flex;
  justify-content: space-around; 
  margin-top: 2rem; 
}

.box {
  flex-basis: 30%; 
  text-align: center;
  padding: 1rem;
  background-color: #252525; 
}

.box i {
  font-size: 2rem;
  margin-bottom: 0.5rem; 
}

.box h3 {
  text-align: center;
  color: white;
}

#additional-boxes{
  display: flex;
  justify-content: space-around; 
  margin-top: 3rem;
}


